@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 92 59% 3%;
    --foreground: 92 19% 97%;
    --muted: 212 5% 12%;
    --muted-foreground: 212 10% 64%;
    --popover: 92 59% 3%;
    --popover-foreground: 92 19% 97%;
    --card: 92 59% 3%;
    --card-foreground: 92 19% 97%;
    --border: 92 6% 11%;
    --input: 92 6% 11%;
    --primary: 92 92% 54%;
    --primary-foreground: 92 92% 14%;
    --secondary: 212 92% 54%;
    --secondary-foreground: 0 0% 100%;
    --accent: 332 92% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 96% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 92 92% 54%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
